.code_block_container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tabs .tab_btn {
    display: flex;
    background: none;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.tabs .tab_btn.active {
    border: solid 1px #5ba57f;
}

.code_blocks .code_block {
    display: none;
    margin-top: 0;
}

.code_blocks .code_block pre {
    margin: 0;
}

.code_blocks .code_block pre code {
    border-radius: 0;
}

.code_blocks .code_block.active {
    display: block;
}